{:source-paths ["src"]
 :jvm-opts     ["-Dfile.encoding=UTF8"]
 :dependencies [[reagent "1.0.0-alpha2"]
                [bidi "2.1.6"]
                [venantius/accountant "0.2.5"]
                [binaryage/devtools "0.9.10"]
                [markdown-to-hiccup "0.6.2"]
                [orgpad/volcano "0.1.2"]]
 :nrepl        {:port 9500}
 :builds       {:web {:target     :browser
                      :output-dir "resources/js"
                      :asset-path "/js"
                      :modules    {:main {:init-fn callumherries.dev/init}}
                      :devtools   {:http-root      "resources"
                                   :http-port      3500
                                   :after-load     callumherries.dev/mount-root
                                   :watch-dir      "resources"
                                   :browser-inject :main}}}}
